@import "./characterManager.css";

#characterScrollable {
    overflow: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    margin-top: 5px;
    height: calc(100vh - 250px);
    white-space: nowrap;
}
