@import "./global.css";

body {
    overflow-x: hidden;
}

/* .hoverText {
    float: left;
} */

.mug {
    padding: 0px 5px;
    height: 62px;
}

.mugIcon {
    width: 62px;
    height: 62px;
    object-fit: cover;
}

.hiddenName {
    font-size: 11pt;
    height: 26pt;
    width: 62px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: normal;
}

.hiddenCharacter {
    display: inline-block;
    /* float: left; */
    max-width: 62px;
}

.addButton {
    width: 62px;
}

.icon {
    height: 35px;
    width: 35px;
    object-fit: cover;
}

.cssSquare {
    padding: 1px;
    height: 37px;
    width: 37px;
    min-width: 37px;
    position: relative;
}

.cssName {
    position: relative;
    font-size: 8pt;
    width: 35px;
    height: 8pt;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center;
}

input[type=text],
select {
    width: 100px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    background-color: var(--inf-grey5);
    border-color: black;
    color: inherit;
    font-family: inherit;
    font-size: 11pt;
    outline: none;
    box-shadow: 0px 1px #00000088;
}

input[type=text] {
    height: 27px;
    padding: 0px 5px;
}

select {
    height: 29px;
    padding: 0px;
}

.cssProfiles {
    display: inline;
}

.column {
    /* width: 400px;
    display: inline; */
    vertical-align: top;
}

#xInput,
#yInput {
    width: 50px;
    margin-right: 5px;
}

#sortingType {
    margin-bottom: 10px;
    width: 150px;
}

#hiddenCharactersScrollable {
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    width: calc(100vw - 60px);
    padding-bottom: 10px;
}

#pagesScrollable {
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    width: calc(100vw - 60px);
}

#characterTable {
    table-layout: fixed;
    width: 100vw;
    margin-left: -20px;
    margin-top: -5px;
}

#hiddenCharactersTable {
    min-width: 100%;
    min-height: 100px;
}

input[type="text"] {
    width: 150px;
}

section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#pageDiv,
#hiddenDiv {
    height: min-content;
    background-color: var(--inf-grey4);
    z-index: 1;
    padding: 5px;
}

#cssDiv {
    flex-grow: 1;
    min-height: 0px;
    padding: 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#cssWrapper {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

hr {
    border-color: var(--inf-grey2);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin: 5px 0px;
}

.toggleIcon {
    font-size: 30px;
    color: var(--inf-white3);
}

.toggleIcon:hover {
    color: var(--inf-white2);
}

.verticalInline {
    display: inline-block;
    vertical-align: middle;
}

.hoverText:hover .uiTooltip,
.hoverText:hover .cssTooltip,
.hoverText:hover .hiddenCharactersTooltip {
    visibility: visible;
}

.hoverText:click .uiTooltip,
.hoverText:click .cssTooltip,
.hoverText:click .hiddenCharactersTooltip {
    visibility: visible;
}

.uiTooltip:hover,
.uiTooltip:hover span,
.cssTooltip:hover,
.cssTooltip:hover span,
.hiddenCharactersTooltip:hover,
.hiddenCharactersTooltip:hover span {
    visibility: hidden;
    z-index: -1;
}

.uiTooltip,
.cssTooltip,
.hiddenCharactersTooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    display: inline;
    margin: 0px;
    margin-top: -10px;
    margin-left: 2px;
    padding: 0px;
    height: 50px;
    width: max-content;
    display: inline-flex;
    align-items: center;
}

.uiTooltip span,
.cssTooltip span,
.hiddenCharactersTooltip span {
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--inf-grey1);
    border-radius: 10px;
    padding: 5px 10px;
}

.hoverText {
    position: relative;
}

.cssTooltip {
    top: 38px;
    margin: 0px;
    margin-left: -5px;
}

.activePage,
.inactivePage {
    width: fit-content;
    padding: 5px 0px 10px;
    display: inline;
}

.activePage:hover:not(:has(.pageDelete:hover)),
.inactivePage:hover:not(:has(.pageDelete:hover)),
.activePage:hover:not(:has(.pageDelete:hover)) button,
.inactivePage:hover:not(:has(.pageDelete:hover)) button {
    background-color: var(--inf-grey3);
}

.activePage button,
.inactivePage button {
    border: none;
    box-shadow: none;
    background-color: var(--inf-grey4);
}

.activePage button:not(.pageDelete),
.inactivePage button:not(.pageDelete) {
    border-radius: 0px;
}

.pageSelect {
    padding: 5px 0px 5px 10px;
}

.pageDelete {
    padding: 5px;
    border-radius: 3px;
}

.pageDelete span {
    font-size: 18px;
}

.pageDelete:hover {
    background-color: var(--inf-grey3);
}

.activePage {
    border-bottom: 2px solid var(--inf-blue1);
}

.modColumn {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 37px;
    height: calc(100% - 10px);
    margin-top: 10px;
    padding-left: 3px;
    padding-right: 4px;
}

.modRow {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 10px);
    height: 37px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
}

.modRow span,
.modColumn span {
    font-size: 30px;
}

.columnTooltip {
    margin-top: -21px;
    margin-left: 37px;
}

.rowTooltip {
    margin-top: -21px;
    margin-left: calc(100%);
}