/* @import url("https://fonts.googleapis.com/css?Ubuntu"); */

body {
    /* My Palette */
    /* Titlebar */
    --inf-grey1: #16171e;
    /* Side-est-bar */
    --inf-grey2: #1a1c23;
    /* Sidebar */
    --inf-grey3: #23252e;
    /* Body */
    --inf-grey4: #272a34;
    /* Buttons */
    --inf-grey5: #323643;

    /* Primary Blue */
    --inf-blue1: #2777ff;
    /* Secondary Blue */
    --inf-blue2: #005af3;

    /* Text */
    --inf-white3: #eeeeec;
    /* Sidebar Icons */
    --inf-white2: #bbbbbd;
    /* Inactive (Used with sidebar) */
    --inf-white1: #888a8d;

    margin: 0px;
    min-width: 790px;
    font-family: Ubuntu;
    color: var(--inf-white3);
    background-color: var(--inf-grey4);
    font-size: 11pt;
}

nav {
    background-color: var(--inf-grey1);
    width: 100%;
    position: fixed;
    top: 0px;
    height: 40px;
}

section {
    background-color: var(--inf-grey4);
    margin: 5px;
    position: fixed;
    top: 40px
}

a {
    text-decoration: none;
    color: inherit;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--inf-grey1);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--inf-grey5);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--inf-blue1);
}

#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tab {
    float: left;
    display: block;
    margin: 5px 0px 5px 5px;
}

.activeTab,
.inactiveTab,
button {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 11pt;
}

.activeTab {
    background-color: var(--inf-grey5);
    border-color: black;
}

.inactiveTab {
    border-color: var(--inf-grey1);
}

.inactiveTab:hover {
    background-color: var(--inf-grey4);
}

button {
    background-color: var(--inf-grey5);
    border-color: black;
    color: inherit;
    font-family: inherit;
    margin: 5px 0px;
    box-shadow: 0px 1px #00000088;
}

.right {
    float: right;
}

fieldset {
    border: none;
    padding-left: 15px;
}

legend {
    font-weight: bold;
    margin-left: -15px;
    margin-bottom: 5px;
}