@import "./global.css";

input[type=text],
select {
    width: 100px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    background-color: var(--inf-grey5);
    border-color: black;
    color: inherit;
    font-family: inherit;
    font-size: 11pt;
    outline: none;
    box-shadow: 0px 1px #00000088;
}

input[type=text] {
    height: 27px;
    padding: 0px 5px;
}

select {
    height: 29px;
    padding: 0px;
}

.controls {
    display: inline;
}

td {
    align-content: left;
    padding: 0;
}

input[type=checkbox] {
    margin-left: -1px;
    margin-top: 5px;
}