@import "../global/global.css";

#pages-div, #sort-excluded-div, #excluded-div {
    height: min-content;
    min-height: min-content;
    background-color: var(--inf-grey4);
    z-index: 1;
    padding: 5px;
}

#pages-div, #excluded-div {
    overflow-x: auto;
    margin: 5px;
}

#sort-excluded-div {
    padding: 0px 5px;
}

#css-div {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0px;
    padding: 5px;
    overflow: auto;
}

#excluded-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
}

#pages-wrapper {
    /* display: flex; */
    width: fit-content;
    text-wrap: nowrap;
    overflow: hidden;
    height: 35px;
}

.excluded-display-wrapper {
    width: 62px;
    margin: 5px;
    height: auto;
}

.excluded-display-mug {
    height: 62px;
    width: 100%;
}

.excluded-display-name {
    overflow: hidden;
    height: 26pt;
    word-wrap: break-word;
}

.css-page,
.css-page-button {
    box-sizing: border-box;
    height: 100%;
    display: inline-block;
    border: none;
    box-shadow: none;
    background-color: var(--inf-grey4);
    width: fit-content;
    min-width: fit-content;
}

.css-page:hover:not(:has(.icon-button-wrapper:hover)),
.css-page:hover:not(:has(.icon-button-wrapper:hover)) .css-page-button {
    background-color: var(--inf-grey3);
}

.css-page .icon-button-wrapper {
    margin-left: -5px;
    margin-right: 0px;
}

.css-page .button-icon {
    padding: 5px;
}

.css-page .icon-button-wrapper:hover,
.css-page .icon-button-wrapper:hover .button-icon {
    background-color: var(--inf-grey3);
}

.css-page-button {
    height: 100%;
    margin: 0px;
}

.css-page-active {
    border-bottom: 4px solid var(--inf-blue1);
}

#css-wrapper {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.excluded-tooltip {
    height: fit-content;
    left: 0px;
    top: 62px;
}