#pages-div,
#sort-excluded-div,
#excluded-div {
    height: min-content;
    min-height: min-content;
    background-color: var(--inf-grey4);
    z-index: 1;
    flex-shrink: 0;
}

#sort-excluded-div,
#excluded-div {
    padding: 5px;
}

#pages-div,
#excluded-div {
    overflow-x: auto;
    margin: 5px;
}

#pages-div {
    padding: 0px 0px 5px 0px;
}

#sort-excluded-div {
    padding: 0px 5px;
}

#css-div {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0px;
    padding: 5px;
    overflow: auto;
    margin: 5px;
}

#excluded-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
}

#pages-wrapper {
    width: fit-content;
    text-wrap: nowrap;
    overflow: hidden;
    height: 35px;
}

.excluded-display-wrapper {
    width: 62px;
    margin: 5px;
    height: calc(62px + 26pt);
}

.excluded-display-mug,
.excluded-display-mug img {
    height: 62px;
    object-fit: cover;
    width: 100%;
}

.excluded-display-name {
    overflow: hidden;
    height: 26pt;
    word-wrap: break-word;
}

.css-page,
.css-page-button {
    box-sizing: border-box;
    height: 100%;
    display: inline-block;
    border: none;
    box-shadow: none;
    background-color: var(--inf-grey4);
    width: fit-content;
    min-width: fit-content;
}

.css-page:hover:not(:has(:global(.icon-buttons_icon-button-wrapper:hover))),
.css-page:hover:not(:has(:global(.icon-buttons_icon-button-wrapper:hover))) .css-page-button {
    background-color: var(--inf-grey3);
}

.css-page :global(.icon-buttons_icon-button-wrapper) {
    margin-left: -5px;
    margin-right: 0px;
}

.css-page :global(.icon-buttons_button-icon) {
    padding: 5px;
}

.css-page :global(.icon-buttons_icon-button-wrapper:hover),
.css-page :global(.icon-buttons_icon-button-wrapper:hover) :global(.icon-buttons_button-icon) {
    background-color: var(--inf-grey3);
}

.css-page-button {
    height: 100%;
    margin: 0px;
}

.css-page-active {
    border-bottom: 4px solid var(--inf-blue1);
}

#css-wrapper {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.excluded-tooltip {
    height: fit-content;
    left: -5px;
    top: 62px;
}

.excluded-tooltip:hover {
    visibility: visible;
    z-index: initial;
}

.css-tooltip {
    height: 100%;
    left: 35px;
}

.css-character-display {
    padding: 2px;
}

.css-character-display img {
    display: block;
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.css-character-display span:not(.css-character-display .css-tooltip span) {
    display: block;
    font-size: 8pt;
    text-align: center;
    width: 35px;
    overflow: hidden;
    text-wrap: nowrap;
}

.css-column-header :global(.icon-buttons_icon-button-wrapper) {
    margin: -2.5px 0px;
}

.css-column-header {
    height: 17px;
}

.css-row-header :global(.icon-buttons_icon-button-wrapper) {
    margin: 0px -5px;
}

.css-row-header {
    height: 51px;
}

.css-table {
    overflow: hidden;
}

.add-css-page input[type="text"],
.css-page-edit {
    margin: 2px 0px 0px 2px;
}

.add-css-page :global(.icon-buttons_icon-button-wrapper) {
    margin-left: 0px;
}

.series-name {
    display: flex;
    align-items: center;
}

.series-name span {
    padding: 5px;
}

#excluded-search,
.add-css-page input[type="text"],
.css-page-edit {
    width: 150px;
}

.add-css-page :global(.icon-buttons_icon-button-tooltip) {
    right: 28px;
}