#pages-div,
#sort-excluded-div,
#excluded-div {
    height: min-content;
    min-height: min-content;
    background-color: var(--inf-grey4);
    z-index: 1;
    flex-shrink: 0;
}

#sort-excluded-div,
#excluded-div {
    padding: 5px;
}

#pages-div,
#excluded-div {
    overflow-x: auto;
    margin: 5px;
}

#pages-div {
    padding: 0px 0px 5px 0px;
}

#sort-excluded-div {
    padding: 0px 5px;
}

#sss-div {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0px;
    padding: 5px;
    overflow: auto;
    margin: 5px;
}

#excluded-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
}

#pages-wrapper {
    width: fit-content;
    text-wrap: nowrap;
    overflow: hidden;
    height: 35px;
}

.excluded-display-wrapper {
    width: 62px;
    margin: 5px;
    height: calc(62px + 2.2em);
}

.excluded-display-mug,
.excluded-display-mug img {
    height: 62px;
    object-fit: cover;
    width: 100%;
    cursor: grab;
}

.excluded-display-name {
    overflow: hidden;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 1.1em;
}

.sss-page,
.sss-page-button {
    box-sizing: border-box;
    height: 100%;
    display: inline-block;
    border: none;
    box-shadow: none;
    background-color: var(--inf-grey4);
    width: fit-content;
    min-width: fit-content;
}

.sss-page:hover:not(:has(:global(.icon-buttons_icon-button-wrapper:hover))),
.sss-page:hover:not(:has(:global(.icon-buttons_icon-button-wrapper:hover))) .sss-page-button {
    background-color: var(--inf-grey3);
}

.sss-page :global(.icon-buttons_icon-button-wrapper) {
    margin-left: -5px;
    margin-right: 0px;
}

.sss-page :global(.icon-buttons_button-icon) {
    padding: 5px;
}

.sss-page :global(.icon-buttons_icon-button-wrapper:hover),
.sss-page :global(.icon-buttons_icon-button-wrapper:hover) :global(.icon-buttons_button-icon) {
    background-color: var(--inf-grey3);
}

.sss-page-button {
    height: 100%;
    margin: 0px;
}

.sss-page-active {
    border-bottom: 4px solid var(--inf-blue1);
}

#sss-wrapper {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.excluded-tooltip {
    height: fit-content;
    left: -5px;
    top: 62px;
}

.excluded-tooltip:hover {
    visibility: visible;
    z-index: initial;
}

.sss-tooltip {
    height: 100%;
    left: 65px;
}

.sss-stage-display {
    padding: 2px;
}

.sss-stage-display img {
    display: block;
    width: 65px;
    height: 65px;
    object-fit: cover;
    cursor: grab;
}

.sss-stage-display span:not(.sss-stage-display .sss-tooltip span) {
    display: block;
    font-size: 8pt;
    text-align: center;
    width: 60px;
    overflow: hidden;
    text-wrap: nowrap;
    cursor: grab;
}

.sss-column-header :global(.icon-buttons_icon-button-wrapper) {
    margin: -2.5px 0px;
}

.sss-column-header {
    height: 17px;
}

.sss-row-header :global(.icon-buttons_icon-button-wrapper) {
    margin: 0px -5px;
}

.sss-row-header {
    height: 51px;
}

.sss-table {
    overflow: hidden;
}

.add-sss-page input[type="text"],
.sss-page-edit {
    margin: 2px 0px 0px 2px;
}

.add-sss-page :global(.icon-buttons_icon-button-wrapper) {
    margin-left: 0px;
}

.series-name {
    display: flex;
    align-items: center;
    height: calc(72px + 2.2em);
}

.series-name span {
    padding: 5px 10px;
    height: 100%;
    text-align: left;
    white-space: normal;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

#excluded-search,
.add-sss-page input[type="text"],
.sss-page-edit {
    width: 150px;
}

.add-sss-page :global(.icon-buttons_icon-button-tooltip) {
    right: 28px;
}