@import "../../app/app.css";

#pages-div,
#sort-excluded-div,
#excluded-div {
    height: min-content;
    min-height: min-content;
    background-color: var(--inf-grey4);
    z-index: 1;
    flex-shrink: 0;
}

#sort-excluded-div,
#excluded-div {
    padding: 5px;
}

#pages-div,
#excluded-div {
    overflow-x: auto;
    margin: 5px;
}

#pages-div {
    padding: 0px 0px 5px 0px;
}

#sort-excluded-div {
    padding: 0px 5px;
}

#sss-div {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0px;
    padding: 5px;
    overflow: auto;
    margin: 5px;
}

#excluded-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
}

#pages-wrapper {
    /* display: flex; */
    width: fit-content;
    text-wrap: nowrap;
    overflow: hidden;
    height: 35px;
}

.excluded-display-wrapper {
    width: 62px;
    margin: 5px;
    height: calc(62px + 26pt);
}

.excluded-display-mug,
.excluded-display-mug img {
    height: 62px;
    object-fit: cover;
    width: 100%;
}

.excluded-display-name {
    overflow: hidden;
    height: 26pt;
    word-wrap: break-word;
}

.sss-page,
.sss-page-button {
    box-sizing: border-box;
    height: 100%;
    display: inline-block;
    border: none;
    box-shadow: none;
    background-color: var(--inf-grey4);
    width: fit-content;
    min-width: fit-content;
}

.sss-page:hover:not(:has(.icon-button-wrapper:hover)),
.sss-page:hover:not(:has(.icon-button-wrapper:hover)) .sss-page-button {
    background-color: var(--inf-grey3);
}

.sss-page .icon-button-wrapper {
    margin-left: -5px;
    margin-right: 0px;
}

.sss-page .button-icon {
    padding: 5px;
}

.sss-page .icon-button-wrapper:hover,
.sss-page .icon-button-wrapper:hover .button-icon {
    background-color: var(--inf-grey3);
}

.sss-page-button {
    height: 100%;
    margin: 0px;
}

.sss-page-active {
    border-bottom: 4px solid var(--inf-blue1);
}

#sss-wrapper {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.excluded-tooltip {
    height: fit-content;
    left: -5px;
    top: 62px;
}

.excluded-tooltip:hover {
    visibility: visible;
    z-index: initial;
}

.sss-tooltip {
    /* height: 35px; */
    height: 100%;
    left: 35px;
    /* left: -5px;
    top: 35px; */
}

.sss-stage-display {
    padding: 2px;
    /* width: 35px;
    overflow: hidden; */
}

.sss-stage-display img {
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.sss-stage-display span:not(.sss-stage-display .sss-tooltip span) {
    display: block;
    font-size: 8pt;
    text-align: center;
    width: 35px;
    overflow: hidden;
    text-wrap: nowrap;
}

.sss-column-header .icon-button-wrapper {
    margin: -2.5px 0px;
}

.sss-column-header {
    height: 17px;
}

/* #sss-add-column {
    width: min-content;
    padding: 0px;
} */

.sss-row-header .icon-button-wrapper {
    margin: 0px -5px;
}

.sss-row-header {
    height: 51px;
}

.sss-table {
    overflow: hidden;
}

/* .sss-column-header,
.sss-row-header {
    overflow: visible;
    overflow-anchor: auto;
} */

.add-sss-page input[type="text"] {
    margin: 2px 0px 0px 2px;
}

.add-sss-page .icon-button-wrapper {
    margin-left: 0px;
}

.series-name {
    display: flex;
    align-items: center;
}

.series-name span {
    padding: 5px;
}

#excluded-search,
.add-sss-page input[type="text"] {
    width: 150px;
}

.add-sss-page .icon-button-tooltip {
    right: 28px;
}