@import "../global/global.css";

#character-div {
    flex-grow: 1;
    min-height: 0px;
    /* padding: 5px;
    margin-top: 5px; */
    margin: 5px;
    overflow: auto;
}

#button-div,
#sort-div {
    height: min-content;
    background-color: var(--inf-grey4);
    z-index: 1;
    padding: 5px;
    flex-shrink: 0;
}

.inline-sort-options {
    display: inline-block;
}

#sort-type-select {
    margin-left: 5px;
    margin-top: -1px;
}

input[type=text],
select {
    width: 150px;
}

.character-display-wrapper,
.character-display-alts {
    display: inline-flex;
    height: 62px;
    margin: 5px 0px;
    width: 100%;
}

.character-display-mug,
.alt-display-mug {
    width: 62px;
    height: 100%;
    display: inline;
}

.character-display-name,
.alt-display-name {
    height: calc(100% - 20px);
    flex-grow: 1;
    padding: 10px;
    display: inline-flex;
    align-items: center;
}

.character-display-actions,
.alt-display-actions {
    width: fit-content;
    height: calc(100% - 10px);
    padding: 5px;
    display: inline-flex;
    align-items: center;
}

.alt-display-wrapper {
    display: inline-flex;
}