@import url("../../assets/fonts/fonts.css");

body {
    /* My Palette */
    /* Titlebar */
    --inf-grey1: #16171e;
    /* Side-est-bar */
    --inf-grey2: #1a1c23;
    /* Sidebar */
    --inf-grey3: #23252e;
    /* Body */
    --inf-grey4: #272a34;
    /* Buttons */
    --inf-grey5: #323643;

    /* Primary Blue */
    --inf-blue1: #2777ff;
    /* Secondary Blue */
    --inf-blue2: #005af3;

    /* Text */
    --inf-white3: #eeeeec;
    /* Sidebar Icons */
    --inf-white2: #bbbbbd;
    /* Inactive (Used with sidebar) */
    --inf-white1: #888a8d;

    margin: 0px;
    min-width: 790px;
    font-family: Ubuntu;
    color: var(--inf-white3);
    background-color: var(--inf-grey4);
    font-size: 11pt;
    overflow: hidden;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    background-color: var(--inf-grey1);
    width: 50px;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

section {
    background-color: var(--inf-grey4);
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

hr {
    border-color: var(--inf-grey2);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin: 0px 0px 5px;
}

nav hr {
    border-color: var(--inf-grey3);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin: 0px 5px;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.mat-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-icon {
    font-size: 30px;
    width: 100%;
    height: 100%;
    color: var(--inf-white2);
}

.nav-click {
    position: relative;
    background-color: var(--inf-grey1);
    width: 30px;
    height: 30px;
    border-style: none;
    margin: 10px 10px;
    padding: 0px;
    box-shadow: none;
}

.nav-click:hover .nav-icon {
    background-color: var(--inf-grey1);
    color: var(--inf-white3);
}

.active-tab {
    border-left: 2px solid var(--inf-blue1);
}

.active-tab .nav-click {
    margin-left: 8px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: var(--inf-grey1);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--inf-grey5);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--inf-blue1);
}

button {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 11pt;
    background-color: var(--inf-grey5);
    border-color: black;
    color: inherit;
    font-family: inherit;
    margin: 5px 0px;
    box-shadow: 0px 1px #00000088;
}

button:hover {
    background-color: var(--inf-grey4);
}

.right {
    float: right;
}

fieldset {
    border: none;
    padding-left: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

legend {
    font-weight: bold;
    margin-left: -15px;
    margin-bottom: 5px;
}

table,
th,
td {
    border-style: none;
    padding: 0px 10px;
}

table {
    margin-left: -15px;
}

label {
    color: white;
}

h1,
h2,
h3 {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-size: 30px;
    margin: 0px;
}

h2 {
    font-size: 20px;
    margin: 0px;
}

h3 {
    font-size: 16px;
    margin: 0px;
}

.flex-fill {
    flex-grow: 1;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.tooltip-wrapper {
    position: relative;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    top: 0px;
    z-index: 1;
    padding: 0px;
    height: 100%;
    width: max-content;
    display: inline-flex;
    align-items: center;
}

.tooltip span {
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--inf-grey1);
    border-radius: 10px;
    padding: 5px 10px;
}

.tooltip-wrapper:hover .tooltip {
    visibility: visible;
}

.tooltip:hover {
    visibility: hidden;
    z-index: -1;
}

input[type=text],
select {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    background-color: var(--inf-grey5);
    border-color: black;
    color: inherit;
    font-family: inherit;
    font-size: 11pt;
    outline: none;
    box-shadow: 0px 1px #00000088;
    padding: 0px 5px;
}

input[type=text] {
    height: 27px;
}

select {
    height: 29px;
}

hr.vr {
    display: inline;
    border-color: var(--inf-grey2);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin: 5px 0px 0px 5px;
}

.inline-sort-options {
    display: inline-block;
}

.operation-panel {
    position: relative;
    z-index: 10;
    height: 100%;
    pointer-events: none;
}

.operation-display-box {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 210px;
    background-color: var(--inf-grey2);
    height: 100%;
    pointer-events: all;
    overflow-y: auto;
    /* border-left: 1px solid var(--inf-grey2); */
}

.operation-display {
    background-color: var(--inf-grey4);
    /* border-color: var(--inf-grey2);
    border-width: 1px;
    border-style: solid; */
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
}

.operation-panel-title {
    margin-bottom: 5px;
}

.operation-panel-toggle {
    position: absolute;
    left: -30px;
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.operation-panel-toggle :global(.icon-buttons_icon-button-wrapper) {
    pointer-events: all;
    background-color: var(--inf-grey2);
    margin: 0px;
    border-radius: 3px 0px 0px 3px;
}

.operation-panel-toggle :global(.icon-buttons_icon-button-tooltip) {
    right: 30px;
}

.operation-panel-toggle :global(.icon-buttons_icon-button-wrapper) :global(.icon-buttons_icon-button:hover) {
    background-color: var(--inf-grey2);
}

.operation-panel-toggle :global(.icon-buttons_icon-button-wrapper),
.operation-panel-toggle :global(.icon-buttons_icon-button-wrapper) :global(.icon-buttons_icon-button) {
    height: 30px;
}

.operation-display-state {
    font-size: 30px;
    width: 30px;
    height: 30px;
}

.operation-display-title {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.operation-display-title h3 {
    flex: 1;
}

.operation-display-title :global(.icon-buttons_icon-button-wrapper) {
    margin: 0px;  
}

.operation-display-title :global(.icon-buttons_icon-button-tooltip) {
    right: 18px;
}

.operation-display-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.operation-display-info div:not(.operation-display-state) {
    overflow: hidden;
    word-wrap: break-word;
}

.operation-display-info img {
    margin: 5px;
    width: 31px;
    height: 31px;
}

.operation-display-title,
.operation-display-info span:not(.mat-icon) {
    user-select: text;
}

.animation-rotation {
    animation: rotation 1s cubic-bezier(0, 0.4, 0.6, 1) infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animation-coin-flip {
    animation: coin-flip 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes coin-flip {
    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(1800deg);
    }

    100% {
        transform: rotateY(3600deg);
    }
}

.animation-flipX {
    animation: flipX 2s linear infinite;
}

@keyframes flipX {
    0%,
    100% {
        transform: perspective(200px) rotateX(0deg) rotateY(0deg);
    }

    25% {
        transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
    }

    50% {
        transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
    }

    75% {
        transform: perspective(200px) rotateX(0deg) rotateY(-180deg);
    }
}