body {
    /* My Palette */
    /* Titlebar */
    --inf-grey1: #16171e;
    /* Side-est-bar */
    --inf-grey2: #1a1c23;
    /* Sidebar */
    --inf-grey3: #23252e;
    /* Body */
    --inf-grey4: #272a34;
    /* Buttons */
    --inf-grey5: #323643;

    /* Primary Blue */
    --inf-blue1: #2777ff;
    /* Secondary Blue */
    --inf-blue2: #005af3;

    /* Text */
    --inf-white3: #eeeeec;
    /* Sidebar Icons */
    --inf-white2: #bbbbbd;
    /* Inactive (Used with sidebar) */
    --inf-white1: #888a8d;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    margin: 0px;
}

section {
    background-color: var(--inf-grey4);
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

hr {
    border-color: var(--inf-grey2);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin: 0px 0px 5px;
}

#dir-output {
    width: auto;
    field-sizing: content;
}

.tooltip-wrapper {
    position: relative;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    top: 0px;
    z-index: 1;
    padding: 0px;
    height: 100%;
    width: max-content;
    display: inline-flex;
    align-items: center;
}

.tooltip span {
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--inf-grey1);
    border-radius: 10px;
    padding: 5px 10px;
}

.tooltip-wrapper:hover .tooltip {
    visibility: visible;
}

.tooltip:hover {
    visibility: hidden;
    z-index: -1;
}

.inline-sort-options {
    display: inline-block;
}