/* @import "../../app/app.css"; */

#about-div,
#game-select-div,
#tabs-div {
    flex-grow: 1;
    min-height: min-content;
    padding: 5px;
}

.vertical-outer-div {
    display: inline-flex;
    align-items: center;
}

.vertical-inner-div {
    width: 100%;
}

/* #tabs-scrollable {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    height: 100%;
    padding-bottom: 5px;
}

#tabs-scrollable div.center {
    height: 100%;
} */

#about-div {
    h1, h2, h3 {
        user-select: text;
    }
}

#tabs-div {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 5px;
}

#cmcmm-icon {
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

#pfp {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

#by-div {
    margin-top: -12px;
    margin-bottom: -12px;
}

#about-div h2 {
    margin: 0px 0px 0px 10px;
}

#about-div h1 {
    margin: 0px 0px 0px 5px;
}

#about-div h3 {
    margin: 0px 15px 0px 5px;
}

.margin-vertical {
    margin-top: 10px;
    margin-bottom: 10px;
}

.external-wrapper {
    display: inline-block;
    vertical-align: middle;
    height: min-content;
    width: min-content;
    margin: 5px;
}

.external-button {
    height: min-content;
    width: min-content;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
}

.external-img {
    height: 40px;
}

#gb {
    image-rendering: pixelated;
}

.tab-button-wrapper {
    margin: 0px 5px;
    padding: 0px;
    width: 150px;
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.tab-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
    /* height: min-content; */
    width: 100%;
}

.tab-button-icon {
    color: var(--inf-white3);
    font-size: 80px;
}

.tab-button-wrapper:hover .tab-button-icon {
    color: var(--inf-white2);
}

.tab-button-title {
    color: var(--inf-white3);
    font-weight: bold;
    font-size: 18px;
    margin: 0px 0px 5px;
    white-space: wrap;
}

.tab-button-wrapper:hover .tab-button-title {
    color: var(--inf-white2);
}

.tab-button-desc {
    color: var(--inf-white3);
    margin: 0px;
    white-space: wrap;
}

.tab-button-wrapper:hover .tab-button-desc {
    color: var(--inf-white2);
}

#dir-output {
    field-sizing: content;
}