body {
    /* My Palette */
    /* Titlebar */
    --inf-grey1: #16171e;
    /* Side-est-bar */
    --inf-grey2: #1a1c23;
    /* Sidebar */
    --inf-grey3: #23252e;
    /* Body */
    --inf-grey4: #272a34;
    /* Buttons */
    --inf-grey5: #323643;

    /* Primary Blue */
    --inf-blue1: #2777ff;
    /* Secondary Blue */
    --inf-blue2: #005af3;

    /* Text */
    --inf-white3: #eeeeec;
    /* Sidebar Icons */
    --inf-white2: #bbbbbd;
    /* Inactive (Used with sidebar) */
    --inf-white1: #888a8d;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.mat-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icon-button-wrapper {
    margin: 0px 5px;
    padding: 0px;
    height: min-content;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.icon-button-tooltip {
    visibility: hidden;
    position: absolute;
    top: 0px;
    z-index: 1;
    display: inline;
    padding: 0px;
    height: 100%;
    width: max-content;
    display: inline-flex;
    align-items: center;
}

.icon-button-tooltip span {
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--inf-grey1);
    border-radius: 10px;
    padding: 5px 10px;
}

.icon-button-wrapper:hover .icon-button-tooltip {
    visibility: visible;
}

.icon-button-tooltip:hover {
    visibility: hidden;
    z-index: -1;
}

.icon-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
    height: min-content;
    width: min-content;
}

.button-icon {
    color: var(--inf-white3);
}

.button-icon:hover {
    color: var(--inf-white2);
}